@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  padding: 0;
  margin: 0;
  background: #ffffff;
}
.showcase{
  cursor: pointer;
}
.showcase>img{

  transform: scale(.7);
  transition: 0.5s ease-in-out;
}
.showcase:hover img{
  transform: scale(0.9);
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}



.swiper {
  width: 100%;
  height: 100%;
}

.order_card {
  transition: 0.5s ease-in-out;
  }
  
  .order_card:hover {
  
    box-shadow: inset rgb(165, 164, 164) 2px 2px 4px;
  }
  ::-webkit-scrollbar{
    display: none;
  }